@{
    ViewBag.Title = "Mailing APP";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">Strona służy do wysyłania E-maili</p>

    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Jak wysłać?</h2>
            <p>
                Wejdź w zakłądkę wyślij E-mail i uzupełnij wszystkie dane
            </p>
            
        </section>        
    </div>
</main>